.search-input{
  background-color: rgba(0, 0, 0, 0.05);
  height: 36px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  padding: 8px;
}
.search-input__img{
  margin-right: 10px;
}
.search-input__input{
  border: none;
  outline: transparent;
  background: none;
  
}
.search-input__input::placeholder{
  font-size: 17px;
  line-height: 22px;
}